<launch>
    <node name="mavros_control_interface" pkg="mavros_control_interface" type="mavros_control_interface" clear_params="true" respawn="false" output="screen">
        <param name="mass" value="1.224" /> #1.375 #1.315
        <param name="odometry_topic" value="msf_core/odometry" />
        <param name="thrust_threshold" value="0.85" />
        <!-- <param name="thrust_scaling_min" value="0.36" /> # 0.535/1.3 = 0.412
        <param name="thrust_scaling_max" value="0.46" />  -->
        <param name="thrust_scaling_min" value="0.422" /> # 0.535/1.3 = 0.412
        <param name="thrust_scaling_max" value="0.422" />
        <param name="thrust_scaling_map_a" value="7.2193" />
        <param name="thrust_scaling_map_b" value="-0.0521" />
        <param name="px4_command_thrust_offset" value="0.28" />
        <param name="px4_command_thrust_scalefactor" value="57.7" /> <!-- (1*9.81)/px4_command_thrust_offset*2 -->
        <param name="px4_command_rollpitch_scalefactor" value="1.0" />
        <param name="odom_rate" value="50.0" /> <!-- [Hz] Deprecated, odom_dt for rate-limiting the advancing waypoint is estimated in runtime -->
        <param name="waypoint_wait_time" value="0.0" /> <!-- [s] Time to wait at each waypoint, before progressing to subsequent ones -->
        <param name="odom_carrot" value="false" /> <!-- Carrot mode -->
        <param name="thres_xyz_rate_takeoff" value="0.075" /> <!-- [m/s] -->
        <param name="delta_height_takeoff" value="0.6" /> <!-- [m] -->
        <param name="thres_xyz_rate" value="0.15" /> <!-- [m/s] -->
        <param name="thres_yaw_rate" value="5.0" /> <!-- [deg] -->
        <param name="thres_xyz" value="0.1" /> <!-- [m] Only used in carrot mode -->
        <param name="thres_yaw" value="5.0" /> <!-- [deg] Only used in carrot mode -->
        <param name="planner_msg_tocall" value="" /> <!-- Call planner on Offboard switchover, none if empty -->
        <param name="mpc_enter_takeoff_srv" value="/mpc_enter_takeoff" /> <!-- Call planner on Offboard switchover, none if empty -->
        <param name="mpc_exit_takeoff_srv" value="/mpc_exit_takeoff" /> <!-- Call planner on Offboard switchover, none if empty -->
        <!--<param name="ls_hor_scale" value="0.523599" /> -->
        <!--<param name="ls_vert_scale" value="0.523599" /> -->
        <!--<param name="rs_hor_scale" value="1.0" /> -->
        <param name="ls_hor_scale" value="0.000" />
        <param name="ls_vert_scale" value="0.000" />
        <param name="rs_hor_scale" value="0.000" />
        <param name="rs_vert_scale" value="0.000" />
    </node>
</launch>