<launch>
    <arg name="fcu_url" default="/dev/ttyACM0:921600" />
    <arg name="gcs_url" default="" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="screen" />
    <arg name="fcu_protocol" default="v2.0" />
    <arg name="respawn_mavros" default="false" />

    <node name="lmf_control_node" pkg="lmf_controller" type="lmf_control_node" output="screen">
        <remap from="odometry" to="msf_core/odometry" />
        <remap from="range_sensor" to="/mavros/distance_sensor/tfmini" />
        <param name="use_range_sensor" value="true" />
        <param name="adapt_z_by_range_sensor" value="false" />
        <param name="use_vehicle_frame" value="true" /> <!-- goal and acc commands are in vehicle frame -->
        <param name="use_yaw_stabilize" value="false" />
        <param name="fixed_height" value="true" />
        <param name="swap_yaw_rate" value="true" />
        <param name="is_sim" value="false" />
        <rosparam command="load" file="$(find lmf_launch)/config/lmf_controller.yaml" />
    </node>    
</launch>